* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;

  --header-height: 60px;
  --active-link: #00acdc;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.nav-list {
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 20px;
}

.nav-link {
  display: inline-block;
  height: var(--header-height);
  line-height: var(--header-height);
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
}

.nav-link:hover {
  color: var(--active-link);
}

.is-active {
  position: relative;
  color: var(--active-link);
}

.is-active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  height: 4px;
  border-radius: 8px;
  background-color: var(--active-link);
}
